@import url('https://fonts.googleapis.com/css?family=Abel|Dosis|Fjalla+One|Montserrat|Noto+Sans+JP|PT+Sans+Caption|PT+Sans+Narrow|Playfair+Display|Reem+Kufi|Ropa+Sans');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-size: 10px;
    background-color: #4faf5c;
}

li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    color: #000;
    text-decoration: none;
}

header {
    display: flex;
    /* justify-content: space-between; */
    justify-content: flex-end;
    align-items: center;
    padding: 3rem 10%;
}

.column-layout p {
    font-family: 'Montserrat', sans-serif;
    font-size:1.5rem;
}

.column-layout h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}

.column-layout h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.form-row {
    font-family: 'Dosis', sans-serif;
    font-size: 2rem;
    padding: 1rem;
    display: flex;
}
.form-row label {
    padding-right: 1rem;
}

.form-row input {
    flex: .5;
}


.column-layout {
    width: 90vw;
    background-color: rgb(73, 159, 209);
    margin: auto;
    line-height: 1.65;
    padding: 2rem 3rem;

}

@media(min-width: 900px) {
    .column-layout {
        display: flex;
        justify-content: space-between;
    }

}

.main-column {
    padding: 1rem;
    margin: 1rem;
    order: 2;
    flex: 2;
}

.sidebar-one {
    padding: 1rem;
    margin: 1rem;
    order: 1;
    flex: 1;
}

.sidebar-two {
    padding: 1rem;
    margin: 1rem;
    order: 3;
    flex: 1;
}

.call-out-container {
    font-family: 'Fjalla+One', sans-serif;
    max-width: 100vw;
    padding: 2rem;
    line-height: 1.65;

}

@media (min-width: 900px) {
    .call-out-container {
        display: flex;
        justify-content: space-between;
    }
}

.callout-box {
    min-height: 25vh;
    padding: 2rem;
    margin-bottom: 2rem;
}

@media (min-width: 900px) {
    .callout-box {
        max-width: 30vw;

    }
}

.callout-box:nth-child(1) {background-color: rgb(238, 75, 224);}
.callout-box:nth-child(2) {background-color: rgb(81, 79, 163);}
.callout-box:nth-child(3) {background-color: rgb(223, 154, 50);}

.callout-box h3 {
    color: #c4c4c4;
}

.callout-box p {
    color: #f1f1f1;
}



.fixed-size-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fixed-size {
    height: 15rem;
    width: 15rem;
    margin: 2rem;
    text-align: center;
    background-color: #00889a;
    border: 3px solid #f1f1f1;
}

.fixed-size h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 6rem;
    padding-top: 3.5rem;
}

.center-container {
    height: 50rem;
    width: 75rem;
    margin: 2rem;
    text-align: center;
    background-color: #d63a3a;
    border: 3px solid #f1f1f1;
}

.center {
    margin: auto;
}

.center h2 {
    font-family: 'Montserrat', sans-serif;
    color: #f1f1f1;
    font-size: 6rem;
    padding-top: 3.5rem;
}

.center p {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    padding: 3.5rem 2rem;
    color: #f1f1f1;

}




.logo {
    cursor: pointer;
    order: 3;
    margin-left: auto;
}

.cta {
    order: 2;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 2rem;
}

.nav-links li:nth-child(1) {
    padding: 0 2rem 0 0;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color:#00889a;
}

button {
    margin-left: 2rem;
    padding: .9rem 2.5rem;
    background-color:rgba(0,136,169,1);
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0;
}

button:hover {
    background-color:rgba(0,136,169,0.8);

}


